.input {
  display: flex;
  align-items: center;
  overflow: hidden;

  &-controlWrapper {
    flex: 1 1 auto;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0 12px;
  }

  &-searchIcon {
    flex: 0 0 auto;
  }

  &-control {
    flex: 1 1 auto;
    border: none;
    outline: none;
    background-color: transparent;

    color: var(--text-secondary-default);
    transition: color 0.15s ease;
    &_hover {
      color: var(--text-secondary-selected);
    }
  }

  &-searchButton {
    flex: 0 0 auto;
    z-index: 0;
    transform: none !important;
  }
}

.input_desktop.input {
  height: 40px;
  border-radius: 8px;
  background-color: var(--fill-secondary-default);
  outline: 2px solid transparent;
  &_rounded {
    border-radius: 40px 8px 8px 40px;
  }
  &_focused {
    outline-color: var(--border-selected);
  }
  &_hover {
    background-color: var(--fill-secondary-hover);
  }

  .input-searchButton {
    border-radius: 0 !important;
  }
}

.input_mobile.input {
  height: 40px;
  border-bottom: 1px solid var(--border-primary);
  padding: 0 16px;
}
