.icon {
  display: inline-flex;
  transition: color 0.15s ease;
  &_variant_inverse {
    color: var(--icon-inverse);
  }

  &_variant_primary {
    color: var(--icon-primary);
  }

  &_variant_accent {
    color: var(--icon-accent);
  }

  &_variant_secondary {
    color: var(--icon-secondary-default);
  }

  &_size_sm {
    width: 12px;
    height: 12px;
  }

  &_size_md {
    width: 16px;
    height: 16px;
  }

  &_size_lg {
    width: 22px;
    height: 22px;
  }
}
.icon_hover.icon {
  &_variant_inverse {
    color: var(--icon-inverse-hover);
  }

  &_variant_primary {
    color: var(--icon-primary-hover);
  }

  &_variant_accent {
    color: var(--icon-accent-hover);
  }

  &_variant_secondary {
    color: var(--icon-secondary-selected);
  }
}
.icon_disabled.icon {
  &_variant_inverse {
    color: var(--icon-inverse-disabled);
  }

  &_variant_primary {
    color: var(--icon-primary-disabled);
  }

  &_variant_accent {
    color: var(--icon-accent-disabled);
  }

  &_variant_secondary {
    color: var(--icon-secondary-disabled);
  }
}
