:root[data-theme="dark"] { 
  --black-100: #8a8a8a;
  --black-1000: #000;
  --black-150: #828282;
  --black-200: #7a7a7a;
  --black-250: #737373;
  --black-300: #6b6b6b;
  --black-350: #636363;
  --black-400: #5c5c5c;
  --black-450: #545454;
  --black-50: #919191;
  --black-500: #4d4d4d;
  --black-550: #454545;
  --black-600: #3d3d3d;
  --black-650: #363636;
  --black-700: #2e2e2e;
  --black-750: #262626;
  --black-800: #202020;
  --black-850: #171717;
  --black-900: #0f0f0f;
  --black-950: #080808;

  --blue-100: #f0faff;
  --blue-1000: #0a234a;
  --blue-150: #d5f1ff;
  --blue-200: #bbe7ff;
  --blue-250: #a0dcff;
  --blue-300: #85d1ff;
  --blue-350: #6bc5ff;
  --blue-400: #50b8ff;
  --blue-450: #35abff;
  --blue-500: #1b9dff;
  --blue-550: #008eff;
  --blue-600: #0480eb;
  --blue-650: #0673d7;
  --blue-700: #0966c3;
  --blue-750: #0a5aaf;
  --blue-800: #0c4e9a;
  --blue-850: #0c4386;
  --blue-900: #0c3872;
  --blue-950: #0b2d5e;

  --blue-grey-100: #f1f3f5;
  --blue-grey-1000: #2d2c33;
  --blue-grey-150: #e3e7ec;
  --blue-grey-200: #d4dbe3;
  --blue-grey-250: #c7d0da;
  --blue-grey-300: #bac4d1;
  --blue-grey-350: #adb9c7;
  --blue-grey-400: #a0aebe;
  --blue-grey-450: #95a3b5;
  --blue-grey-500: #8998ac;
  --blue-grey-550: #7e8ea3;
  --blue-grey-600: #768297;
  --blue-grey-650: #6d768a;
  --blue-grey-700: #656b7e;
  --blue-grey-750: #5c6071;
  --blue-grey-800: #535565;
  --blue-grey-850: #4a4a58;
  --blue-grey-900: #40404c;
  --blue-grey-950: #37363f;

  --green-100: #edfff1;
  --green-1000: #004d1c;
  --green-150: #caf5d5;
  --green-200: #aaebbb;
  --green-250: #8ce1a3;
  --green-300: #6fd78d;
  --green-350: #55cd79;
  --green-400: #3dc467;
  --green-450: #26ba57;
  --green-500: #12b049;
  --green-550: #00a63c;
  --green-600: #009c39;
  --green-650: #009235;
  --green-700: #008831;
  --green-750: #007e2e;
  --green-800: #00742a;
  --green-850: #006a27;
  --green-900: #006023;
  --green-950: #00571f;

  --green-extra-100: #e5ffe6;
  --green-extra-1000: #0d8c11;
  --green-extra-150: #ccffcd;
  --green-extra-200: #b2ffb3;
  --green-extra-250: #99ff9a;
  --green-extra-300: #80ff81;
  --green-extra-350: #66ff68;
  --green-extra-400: #4dff4f;
  --green-extra-450: #33ff36;
  --green-extra-500: #00ff03;
  --green-extra-550: #10ff13;
  --green-extra-600: #16f21e;
  --green-extra-650: #15e51c;
  --green-extra-700: #13d91a;
  --green-extra-750: #12cc18;
  --green-extra-800: #11bf17;
  --green-extra-850: #10b215;
  --green-extra-900: #0fa614;
  --green-extra-950: #0e9912;

  --orange-100: #fefae7;
  --orange-1000: #52270a;
  --orange-150: #fef3cd;
  --orange-200: #feebb4;
  --orange-250: #fedf9a;
  --orange-3000: #fed281;
  --orange-350: #ffc267;
  --orange-400: #ffb04d;
  --orange-450: #ff9b33;
  --orange-500: #ff841a;
  --orange-550: #ff6b00;
  --orange-600: #ec6403;
  --orange-650: #d95d06;
  --orange-700: #c55608;
  --orange-750: #b24f0a;
  --orange-800: #9f480b;
  --orange-850: #8c400b;
  --orange-900: #78380b;
  --orange-950: #652f0b;

  --pink-100: #f8e5ed;
  --pink-1000: #7c1d4e;
  --pink-150: #f9c9de;
  --pink-200: #faadce;
  --pink-250: #fb91c0;
  --pink-300: #fb74b1;
  --pink-350: #fc57a3;
  --pink-400: #fd3a95;
  --pink-450: #fe1d87;
  --pink-500: #ff007a;
  --pink-550: #f20678;
  --pink-600: #e50b75;
  --pink-650: #d80f71;
  --pink-700: #cb136e;
  --pink-750: #be1669;
  --pink-800: #b01965;
  --pink-850: #a31b60;
  --pink-900: #961c5a;
  --pink-950: #891d54;

  --purple-100: #faf2ff;
  --purple-1000: #130f4d;
  --purple-150: #efd7ff;
  --purple-200: #e4bcff;
  --purple-250: #d7a1ff;
  --purple-300: #cb86ff;
  --purple-350: #bd6cff;
  --purple-400: #af51ff;
  --purple-450: #a036ff;
  --purple-500: #901bff;
  --purple-550: #8000ff;
  --purple-600: #6d05eb;
  --purple-650: #5d09d7;
  --purple-700: #4e0dc4;
  --purple-750: #410fb0;
  --purple-800: #35119c;
  --purple-850: #2b1288;
  --purple-900: #221275;
  --purple-950: #1a1161;

  --red-100: #fff5f2;
  --red-1000: #410000;
  --red-150: #ffe0d7;
  --red-200: #ffc9bc;
  --red-250: #ffb2a1;
  --red-300: #ff9986;
  --red-350: #ff806c;
  --red-400: #ff6551;
  --red-450: #ff4936;
  --red-500: #ff2d1b;
  --red-550: #ff0f00;
  --red-600: #ea0c00;
  --red-650: #d50a00;
  --red-700: #c00800;
  --red-750: #ab0600;
  --red-800: #960500;
  --red-850: #800300;
  --red-900: #6b0200;
  --red-950: #560100;

  --white-100: #757575;
  --white-1000: #fff;
  --white-150: #7d7d7d;
  --white-200: #858585;
  --white-250: #8c8c8c;
  --white-300: #949494;
  --white-350: #9c9c9c;
  --white-400: #a3a3a3;
  --white-450: #ababab;
  --white-50: #6e6e6e;
  --white-500: #b3b3b3;
  --white-550: #bababa;
  --white-600: #c2c2c2;
  --white-650: #c9c9c9;
  --white-700: #d1d1d1;
  --white-750: #d9d9d9;
  --white-800: #e0e0e0;
  --white-850: #e8e8e8;
  --white-900: #f0f0f0;
  --white-950: #f7f7f7;

  --yellow-100: #feffd9;
  --yellow-1000: #733600;
  --yellow-150: #ffffc1;
  --yellow-200: #fffea9;
  --yellow-250: #fffb91;
  --yellow-300: #fff779;
  --yellow-350: #fff260;
  --yellow-400: #ffec48;
  --yellow-450: #ffe530;
  --yellow-500: #ffdd18;
  --yellow-550: #ffd400;
  --yellow-600: #efbd00;
  --yellow-650: #e0a800;
  --yellow-700: #d09400;
  --yellow-750: #c18100;
  --yellow-800: #b17000;
  --yellow-850: #a25f00;
  --yellow-900: #925000;
  --yellow-950: #834300;

  --yellow-extra-100: #f4fee4;
  --yellow-extra-1000: #588c0d;
  --yellow-extra-150: #ebfecb;
  --yellow-extra-200: #e1feb2;
  --yellow-extra-250: #d8ff99;
  --yellow-extra-300: #ceff7f;
  --yellow-extra-350: #c5ff66;
  --yellow-extra-400: #bcff4d;
  --yellow-extra-450: #b2ff34;
  --yellow-extra-500: #a9ff1a;
  --yellow-extra-550: #a0ff01;
  --yellow-extra-600: #a4f038;
  --yellow-extra-650: #9ae431;
  --yellow-extra-700: #90d72b;
  --yellow-extra-750: #86cb25;
  --yellow-extra-800: #7dbe1f;
  --yellow-extra-850: #73b11a;
  --yellow-extra-900: #6aa515;
  --yellow-extra-950: #619911;
  --border-error: var(--red-550);
  --border-primary: var(--white-850);
  --border-selected: var(--green-extra-550);
  --border-success: var(--green-550);

  --fill-accent: var(--green-extra-750);
  --fill-accent-disabled: var(--black-550);
  --fill-accent-hover: var(--green-extra-650);
  --fill-accent-nonactive: var(--black-300);
  --fill-accent-nonactive-hover: var(--black-200);
  --fill-accentBrand: var(--gradient-accent);
  --fill-accentBrand-disabled: var(--black-550);
  --fill-accentBrand-hover: var(--yellow-extra-550);
  --fill-bg: var(--black-800);
  --fill-color-alert: var(--red-550);
  --fill-color-success: var(--green-500);
  --fill-color-warning: var(--orange-500);
  --fill-counter: var(--yellow-450);
  --fill-island: var(--black-650);
  --fill-secondary-default: var(--black-550);
  --fill-secondary-disabled: var(--black-550);
  --fill-secondary-hover: var(--black-350);
  --fill-secondary-subdue-default: var(--black-250);
  --fill-totalWhite: var(--white-1000);
  --fill-totalWhite-disabled: var(--black-550);

  --gradient-accent: linear-gradient(
    180deg,
    var(--green-extra-550) 0%,
    var(--yellow-extra-550) 100%
  );
  --gradient-accent-hover: linear-gradient(
    180deg,
    var(--yellow-extra-550) 0%,
    #a1ff07 100%
  );

  --icon-accent: var(--green-extra-550);
  --icon-accent-disabled: var(--black-550);
  --icon-accent-hover: var(--yellow-extra-550);
  --icon-error: var(--red-500);
  --icon-inverse: var(--black-800);
  --icon-inverse-disabled: var(--black-350);
  --icon-primary: var(--white-1000);
  --icon-primary-disabled: var(--black-350);
  --icon-secondary-default: var(--white-300);
  --icon-secondary-selected: var(--white-100);
  --icon-secondary-strong-default: var(--black-350);
  --icon-secondary-strong-hover-link: var(--blue-450);
  --icon-success: var(--green-500);

  --line-error: var(--red-550);
  --line-primary: var(--white-850);
  --line-selected: var(--green-extra-550);
  --line-success: var(--green-550);

  --text-accent: var(--green-extra-550);
  --text-accent-disabled: var(--black-550);
  --text-accent-hover: var(--yellow-extra-550);
  --text-error: var(--red-500);
  --text-inverse: var(--black-800);
  --text-inverse-disabled: var(--black-350);
  --text-primary: var(--white-1000);
  --text-primary-disabled: var(--black-350);
  --text-secondary-default: var(--white-350);
  --text-secondary-selected: var(--white-100);
  --text-secondary-strong-default: var(--white-900);
  --text-secondary-strong-hover-link: var(--blue-450);
  --text-success: var(--green-500);
  --basic-font-family: Roboto;
  --font-age-tag: 500 11px/13px var(--basic-font-family);
  --font-button-sm: 500 13px/15px var(--basic-font-family);
  --font-button-md: 500 13px/15px var(--basic-font-family);
  --font-button-lg: 500 15px/18px var(--basic-font-family);
  --font-button-promo-24: 500 13px/15px "Druk Wide Cy", var(--basic-font-family);
  --font-button-promo-32: 500 13px/15px "Druk Wide Cy", var(--basic-font-family);
  --font-button-promo-40: 900 16px/19px "Druk Wide Cy", var(--basic-font-family);
  --font-category-tag: 400 15px/18px var(--basic-font-family);
  --font-category-tag-number: 400 13px/16px var(--basic-font-family);
  --font-category-tag-page: 400 20px/28px var(--basic-font-family);
  --font-checkbox-label: 400 13px/16px var(--basic-font-family);
  --font-game-tag: 400 15px/18px var(--basic-font-family);
  --font-input-text: 400 15px/18px var(--basic-font-family);
  --font-link-m-m: 500 15px/18px var(--basic-font-family);
  --font-link-m-r: 400 15px/18px var(--basic-font-family);
  --font-link-s-m: 500 13px/16px var(--basic-font-family);
  --font-link-s-r: 400 13px/16px var(--basic-font-family);
  --font-link-xs-r: 400 12px/14px var(--basic-font-family);
  --font-tag: 400 12px/14px var(--basic-font-family);
  --font-tag-list: 400 12px/14px var(--basic-font-family);
  --font-tag-page: 400 15px/18px var(--basic-font-family);
  --font-select-value: 400 15px/18px var(--basic-font-family);
  --font-select-option: 400 14px/16px var(--basic-font-family);
  --font-select-group: 400 12px/14px var(--basic-font-family);
  --age-rating-border-radius: 6px;
  --age-rating-cl-text: var(--text-primary);
  --age-rating-green-cl-bg: var(--fill-color-success);
  --age-rating-height: 18px;
  --age-rating-orange-cl-bg: var(--fill-color-warning);
  --age-rating-padding: 5px 5px 4px 5px;
  --age-rating-red-cl-bg: var(--fill-color-alert);
  --basic-font-family: Roboto, "Helvetica Neue", Arial, sans-serif;

  --button-border-radius-24: 4px;
  --button-border-radius-32: 6px;
  --button-border-radius-40: 8px;
  --button-cl-bg-empty: transparent;
  --button-cl-bg-empty-disabled: transparent;
  --button-cl-bg-empty-hover: transparent;
  --button-cl-bg-primary: var(--fill-accentBrand);
  --button-cl-bg-primary-disabled: var(--fill-accentBrand-disabled);
  --button-cl-bg-primary-hover: var(--fill-accentBrand-hover);
  --button-cl-bg-promo: var(--fill-accentBrand);
  --button-cl-bg-promo-disabled: var(--fill-accentBrand-disabled);
  --button-cl-bg-promo-hover: var(--fill-accentBrand-hover);
  --button-cl-bg-secondary: var(--fill-secondary-default);
  --button-cl-bg-secondary-disabled: var(--fill-secondary-disabled);
  --button-cl-bg-secondary-hover: var(--fill-secondary-hover);
  --button-cl-icon-empty: var(--icon-accent);
  --button-cl-icon-empty-disabled: var(--icon-accent-disabled);
  --button-cl-icon-empty-hover: var(--icon-accent-hover);
  --button-cl-icon-primary: var(--icon-inverse);
  --button-cl-icon-primary-disabled: var(--icon-inverse-disabled);
  --button-cl-icon-primary-hover: var(--icon-inverse);
  --button-cl-icon-secondary: var(--icon-primary);
  --button-cl-icon-secondary-disabled: var(--icon-primary-disabled);
  --button-cl-icon-secondary-hover: var(--icon-primary);
  --button-cl-text-empty: var(--text-accent);
  --button-cl-text-empty-disabled: var(--text-accent-disabled);
  --button-cl-text-empty-hover: var(--text-accent-hover);
  --button-cl-text-primary: var(--text-inverse);
  --button-cl-text-primary-disabled: var(--text-inverse-disabled);
  --button-cl-text-primary-hover: var(--text-inverse);
  --button-cl-text-promo: var(--text-inverse);
  --button-cl-text-promo-disabled: var(--text-inverse-disabled);
  --button-cl-text-promo-hover: var(--text-inverse);
  --button-cl-text-secondary: var(--text-primary);
  --button-cl-text-secondary-disabled: var(--text-primary-disabled);
  --button-cl-text-secondary-hover: var(--text-primary);
  --button-gap-24: 4px;
  --button-gap-32: 8px;
  --button-gap-40: 8px;
  --button-height-24: 24px;
  --button-height-32: 32px;
  --button-height-40: 40px;
  --button-padding-24-icon: 6px;
  --button-padding-24-text: 0 8px;
  --button-padding-32-icon: 8px;
  --button-padding-32-text: 0 12px;
  --button-padding-40-icon: 12px;
  --button-padding-40-text: 0 16px;
  --button-padding-40-text-promo: 0 24px;
  --button-press-transition: transform 0.1s ease;

  --category-tag-cl-bg: var(--fill-bg);
  --category-tag-cl-bg-hover: var(--fill-secondary-default);
  --category-tag-cl-bg-pressed: var(--fill-totalWhite);
  --category-tag-cl-icon: var(--icon-secondary-default);
  --category-tag-cl-icon-hover: var(--icon-primary);
  --category-tag-cl-icon-pressed: var(--icon-inverse);
  --category-tag-cl-text: var(--text-secondary-default);
  --category-tag-cl-text-hover: var(--text-primary);
  --category-tag-cl-text-pressed: var(--text-inverse);
  --category-tag-icon-gap: 12px;
  --category-tag-info-bg: var(--fill-accent);
  --category-tag-info-color: var(--text-primary);
  --category-tag-info-color-exp: var(--color-base);
  --category-tag-info-gap: 8px;
  --category-tag-info-padding: 1px 4px;
  --category-tag-padding: 7px 12px;
  --category-tag-page-icon-gap: 12px;
  --category-tag-page-padding: 6px 12px;

  --checkbox-18-br: 4px;
  --checkbox-18-gap: 8px;
  --checkbox-18-height: 18px;
  --checkbox-18-width: 18px;
  --checkbox-background-transition: background-color 0.15s linear;
  --checkbox-color-checked: var(--fill-accent);
  --checkbox-color-checked-hover: var(--fill-accent-hover);
  --checkbox-color-disabled: var(--fill-accent-disabled);
  --checkbox-color-unchecked: var(--fill-accent-nonactive);
  --checkbox-color-unchecked-hover: var(--fill-accent-nonactive-hover);
  --checkbox-label-color: var(--text-secondary-default);
  --checkbox-tick-color-checked: var(--icon-primary);
  --checkbox-tick-color-checked-hover: var(--icon-primary);
  --checkbox-tick-color-disabled: var(--icon-primary-disabled);

  --float-button-background: var(--fill-secondary-default);
  --float-button-background-hover: var(--fill-secondary-hover);
  --float-button-background-pressed: var(--fill-secondary-hover);
  --float-button-icon-color: var(--icon-primary);
  --float-button-shadow: 0 1px 12px 0 rgba(14, 21, 47, 0.12),
    0 3px 5px 0 rgba(14, 21, 47, 0.1);

  --game-tag-cl-bg: var(--fill-secondary-default);
  --game-tag-cl-bg-hover: var(--fill-secondary-hover);
  --game-tag-cl-bg-pressed: var(--fill-totalWhite);
  --game-tag-cl-text: var(--text-secondary-strong-default);
  --game-tag-cl-text-hover: var(--text-primary);
  --game-tag-cl-text-pressed: var(--text-inverse);
  --game-tag-height: 30px;
  --game-tag-padding: 6px 10px;

  --gc-input-token-cl-icon-hover: var(--icon-primary);
  --gc-input-token-cl-icon-selected: var(--icon-primary);
  --gc-input-token-cl-placeholder-hover: var(--text-primary);
  --gc-input-token-cl-placeholder-selected: var(--text-primary);

  --link-cl-accent: var(--text-accent);
  --link-cl-accent-hover: var(--text-accent-hover);
  --link-cl-inverse: var(--text-inverse);
  --link-cl-inverse-hover: var(--text-secondary-default);
  --link-cl-primary: var(--text-primary);
  --link-cl-primary-hover: var(--text-accent-hover);
  --link-cl-secondary: var(--text-secondary-default);
  --link-cl-secondary-hover: var(--text-accent-hover);

  --spin-default-border-color: #14e517;
  --spin-filled-bg-color: #00000020;
  --spin-filled-border-color: #fff;

  --tag-cl-bg: var(--fill-secondary-default);
  --tag-cl-bg-hover: var(--fill-secondary-hover);
  --tag-cl-bg-pressed: var(--fill-totalWhite);
  --tag-cl-text: var(--text-secondary-strong-default);
  --tag-cl-text-hover: var(--text-primary);
  --tag-cl-text-pressed: var(--text-inverse);
  --tag-gap: 4px;
  --tag-height-list: 24px;
  --tag-height-page: 28px;
  --tag-padding-list: 4px 8px;
  --tag-padding-page: 6px 10px;

  --tumbler-22-height: 22px;
  --tumbler-22-spacing-horizontal: 2px;
  --tumbler-22-spacing-vertical: 2px;
  --tumbler-22-toggle-height: 18px;
  --tumbler-22-toggle-width: 18px;
  --tumbler-22-width: 40px;
  --tumbler-active-bg: var(--fill-accent);
  --tumbler-active-fg: var(--fill-totalWhite);
  --tumbler-active-hover-bg: var(--fill-accent-hover);
  --tumbler-active-hover-fg: var(--fill-totalWhite);
  --tumbler-bg: var(--fill-accent-nonactive);
  --tumbler-disabled-bg: var(--fill-accent-nonactive);
  --tumbler-disabled-fg: var(--fill-totalWhite-disabled);
  --tumbler-fg: var(--fill-totalWhite);
  --tumbler-hover-bg: var(--fill-accent-nonactive-hover);
  --tumbler-hover-fg: var(--fill-totalWhite);
  --age-rating-border-radius: 6px;
  --age-rating-cl-text: var(--text-primary);
  --age-rating-green-cl-bg: var(--fill-color-success);
  --age-rating-height: 18px;
  --age-rating-orange-cl-bg: var(--fill-color-warning);
  --age-rating-padding: 5px 5px 4px 5px;
  --age-rating-red-cl-bg: var(--fill-color-alert);
  --basic-font-family: Roboto, "Helvetica Neue", Arial, sans-serif;

  --button-border-radius-24: 4px;
  --button-border-radius-32: 6px;
  --button-border-radius-40: 8px;
  --button-cl-bg-empty: transparent;
  --button-cl-bg-empty-disabled: transparent;
  --button-cl-bg-empty-hover: transparent;
  --button-cl-bg-primary: var(--fill-accentBrand);
  --button-cl-bg-primary-disabled: var(--fill-accentBrand-disabled);
  --button-cl-bg-primary-hover: var(--fill-accentBrand-hover);
  --button-cl-bg-promo: var(--fill-accentBrand);
  --button-cl-bg-promo-disabled: var(--fill-accentBrand-disabled);
  --button-cl-bg-promo-hover: var(--fill-accentBrand-hover);
  --button-cl-bg-secondary: var(--fill-secondary-default);
  --button-cl-bg-secondary-disabled: var(--fill-secondary-disabled);
  --button-cl-bg-secondary-hover: var(--fill-secondary-hover);
  --button-cl-icon-empty: var(--icon-accent);
  --button-cl-icon-empty-disabled: var(--icon-accent-disabled);
  --button-cl-icon-empty-hover: var(--icon-accent-hover);
  --button-cl-icon-primary: var(--icon-inverse);
  --button-cl-icon-primary-disabled: var(--icon-inverse-disabled);
  --button-cl-icon-primary-hover: var(--icon-inverse);
  --button-cl-icon-secondary: var(--icon-primary);
  --button-cl-icon-secondary-disabled: var(--icon-primary-disabled);
  --button-cl-icon-secondary-hover: var(--icon-primary);
  --button-cl-text-empty: var(--text-accent);
  --button-cl-text-empty-disabled: var(--text-accent-disabled);
  --button-cl-text-empty-hover: var(--text-accent-hover);
  --button-cl-text-primary: var(--text-inverse);
  --button-cl-text-primary-disabled: var(--text-inverse-disabled);
  --button-cl-text-primary-hover: var(--text-inverse);
  --button-cl-text-promo: var(--text-inverse);
  --button-cl-text-promo-disabled: var(--text-inverse-disabled);
  --button-cl-text-promo-hover: var(--text-inverse);
  --button-cl-text-secondary: var(--text-primary);
  --button-cl-text-secondary-disabled: var(--text-primary-disabled);
  --button-cl-text-secondary-hover: var(--text-primary);
  --button-gap-24: 4px;
  --button-gap-32: 8px;
  --button-gap-40: 8px;
  --button-height-24: 24px;
  --button-height-32: 32px;
  --button-height-40: 40px;
  --button-padding-24-icon: 6px;
  --button-padding-24-text: 0 8px;
  --button-padding-32-icon: 8px;
  --button-padding-32-text: 0 12px;
  --button-padding-40-icon: 12px;
  --button-padding-40-text: 0 16px;
  --button-padding-40-text-promo: 0 24px;
  --button-press-transition: transform 0.1s ease;

  --category-tag-cl-bg: var(--fill-bg);
  --category-tag-cl-bg-hover: var(--fill-secondary-default);
  --category-tag-cl-bg-pressed: var(--fill-totalWhite);
  --category-tag-cl-icon: var(--icon-secondary-default);
  --category-tag-cl-icon-hover: var(--icon-primary);
  --category-tag-cl-icon-pressed: var(--icon-inverse);
  --category-tag-cl-text: var(--text-secondary-default);
  --category-tag-cl-text-hover: var(--text-primary);
  --category-tag-cl-text-pressed: var(--text-inverse);
  --category-tag-icon-gap: 12px;
  --category-tag-info-bg: var(--fill-accent);
  --category-tag-info-color: var(--text-primary);
  --category-tag-info-color-exp: var(--color-base);
  --category-tag-info-gap: 8px;
  --category-tag-info-padding: 1px 4px;
  --category-tag-padding: 7px 12px;
  --category-tag-page-icon-gap: 12px;
  --category-tag-page-padding: 6px 12px;

  --checkbox-18-br: 4px;
  --checkbox-18-gap: 8px;
  --checkbox-18-height: 18px;
  --checkbox-18-width: 18px;
  --checkbox-background-transition: background-color 0.15s linear;
  --checkbox-color-checked: var(--fill-accent);
  --checkbox-color-checked-hover: var(--fill-accent-hover);
  --checkbox-color-disabled: var(--fill-accent-disabled);
  --checkbox-color-unchecked: var(--fill-accent-nonactive);
  --checkbox-color-unchecked-hover: var(--fill-accent-nonactive-hover);
  --checkbox-label-color: var(--text-secondary-default);
  --checkbox-tick-color-checked: var(--icon-primary);
  --checkbox-tick-color-checked-hover: var(--icon-primary);
  --checkbox-tick-color-disabled: var(--icon-primary-disabled);

  --float-button-background: var(--fill-secondary-default);
  --float-button-background-hover: var(--fill-secondary-hover);
  --float-button-background-pressed: var(--fill-secondary-hover);
  --float-button-icon-color: var(--icon-primary);
  --float-button-shadow: 0 1px 12px 0 rgba(14, 21, 47, 0.12),
    0 3px 5px 0 rgba(14, 21, 47, 0.1);

  --game-tag-cl-bg: var(--fill-secondary-default);
  --game-tag-cl-bg-hover: var(--fill-secondary-hover);
  --game-tag-cl-bg-pressed: var(--fill-totalWhite);
  --game-tag-cl-text: var(--text-secondary-strong-default);
  --game-tag-cl-text-hover: var(--text-primary);
  --game-tag-cl-text-pressed: var(--text-inverse);
  --game-tag-height: 30px;
  --game-tag-padding: 6px 10px;

  --gc-input-token-cl-icon-hover: var(--icon-primary);
  --gc-input-token-cl-icon-selected: var(--icon-primary);
  --gc-input-token-cl-placeholder-hover: var(--text-primary);
  --gc-input-token-cl-placeholder-selected: var(--text-primary);

  --link-cl-accent: var(--text-accent);
  --link-cl-accent-hover: var(--text-accent-hover);
  --link-cl-inverse: var(--text-inverse);
  --link-cl-inverse-hover: var(--text-secondary-default);
  --link-cl-primary: var(--text-primary);
  --link-cl-primary-hover: var(--text-accent-hover);
  --link-cl-secondary: var(--text-secondary-default);
  --link-cl-secondary-hover: var(--text-accent-hover);

  --spin-default-border-color: #14e517;
  --spin-filled-bg-color: #00000020;
  --spin-filled-border-color: #fff;

  --tag-cl-bg: var(--fill-secondary-default);
  --tag-cl-bg-hover: var(--fill-secondary-hover);
  --tag-cl-bg-pressed: var(--fill-totalWhite);
  --tag-cl-text: var(--text-secondary-strong-default);
  --tag-cl-text-hover: var(--text-primary);
  --tag-cl-text-pressed: var(--text-inverse);
  --tag-gap: 4px;
  --tag-height-list: 24px;
  --tag-height-page: 28px;
  --tag-padding-list: 4px 8px;
  --tag-padding-page: 6px 10px;

  --tumbler-22-height: 22px;
  --tumbler-22-spacing-horizontal: 2px;
  --tumbler-22-spacing-vertical: 2px;
  --tumbler-22-toggle-height: 18px;
  --tumbler-22-toggle-width: 18px;
  --tumbler-22-width: 40px;
  --tumbler-active-bg: var(--fill-accent);
  --tumbler-active-fg: var(--fill-totalWhite);
  --tumbler-active-hover-bg: var(--fill-accent-hover);
  --tumbler-active-hover-fg: var(--fill-totalWhite);
  --tumbler-bg: var(--fill-accent-nonactive);
  --tumbler-disabled-bg: var(--fill-accent-nonactive);
  --tumbler-disabled-fg: var(--fill-totalWhite-disabled);
  --tumbler-fg: var(--fill-totalWhite);
  --tumbler-hover-bg: var(--fill-accent-nonactive-hover);
  --tumbler-hover-fg: var(--fill-totalWhite);
  --icon-accent: var(--green-extra-550);
  --icon-accent-disabled: var(--black-550);
  --icon-accent-hover: var(--yellow-extra-550);
  --icon-error: var(--red-500);
  --icon-inverse: var(--black-800);
  --icon-inverse-disabled: var(--black-350);
  --icon-primary: var(--white-1000);
  --icon-primary-disabled: var(--black-350);
  --icon-secondary-default: var(--white-300);
  --icon-secondary-selected: var(--white-100);
  --icon-secondary-strong-default: var(--black-350);
  --icon-secondary-strong-hover-link: var(--blue-450);
  --icon-success: var(--green-500);
  --age-rating-border-radius: 6px;
  --age-rating-cl-text: var(--text-primary);
  --age-rating-green-cl-bg: var(--fill-color-success);
  --age-rating-height: 18px;
  --age-rating-orange-cl-bg: var(--fill-color-warning);
  --age-rating-padding: 5px 5px 4px 5px;
  --age-rating-red-cl-bg: var(--fill-color-alert);
  --basic-font-family: Roboto, "Helvetica Neue", Arial, sans-serif;

  --button-border-radius-24: 4px;
  --button-border-radius-32: 6px;
  --button-border-radius-40: 8px;
  --button-cl-bg-empty: transparent;
  --button-cl-bg-empty-disabled: transparent;
  --button-cl-bg-empty-hover: transparent;
  --button-cl-bg-primary: var(--fill-accentBrand);
  --button-cl-bg-primary-disabled: var(--fill-accentBrand-disabled);
  --button-cl-bg-primary-hover: var(--fill-accentBrand-hover);
  --button-cl-bg-promo: var(--fill-accentBrand);
  --button-cl-bg-promo-disabled: var(--fill-accentBrand-disabled);
  --button-cl-bg-promo-hover: var(--fill-accentBrand-hover);
  --button-cl-bg-secondary: var(--fill-secondary-default);
  --button-cl-bg-secondary-disabled: var(--fill-secondary-disabled);
  --button-cl-bg-secondary-hover: var(--fill-secondary-hover);
  --button-cl-icon-empty: var(--icon-accent);
  --button-cl-icon-empty-disabled: var(--icon-accent-disabled);
  --button-cl-icon-empty-hover: var(--icon-accent-hover);
  --button-cl-icon-primary: var(--icon-inverse);
  --button-cl-icon-primary-disabled: var(--icon-inverse-disabled);
  --button-cl-icon-primary-hover: var(--icon-inverse);
  --button-cl-icon-secondary: var(--icon-primary);
  --button-cl-icon-secondary-disabled: var(--icon-primary-disabled);
  --button-cl-icon-secondary-hover: var(--icon-primary);
  --button-cl-text-empty: var(--text-accent);
  --button-cl-text-empty-disabled: var(--text-accent-disabled);
  --button-cl-text-empty-hover: var(--text-accent-hover);
  --button-cl-text-primary: var(--text-inverse);
  --button-cl-text-primary-disabled: var(--text-inverse-disabled);
  --button-cl-text-primary-hover: var(--text-inverse);
  --button-cl-text-promo: var(--text-inverse);
  --button-cl-text-promo-disabled: var(--text-inverse-disabled);
  --button-cl-text-promo-hover: var(--text-inverse);
  --button-cl-text-secondary: var(--text-primary);
  --button-cl-text-secondary-disabled: var(--text-primary-disabled);
  --button-cl-text-secondary-hover: var(--text-primary);
  --button-gap-24: 4px;
  --button-gap-32: 8px;
  --button-gap-40: 8px;
  --button-height-24: 24px;
  --button-height-32: 32px;
  --button-height-40: 40px;
  --button-padding-24-icon: 6px;
  --button-padding-24-text: 0 8px;
  --button-padding-32-icon: 8px;
  --button-padding-32-text: 0 12px;
  --button-padding-40-icon: 12px;
  --button-padding-40-text: 0 16px;
  --button-padding-40-text-promo: 0 24px;
  --button-press-transition: transform 0.1s ease;

  --category-tag-cl-bg: var(--fill-bg);
  --category-tag-cl-bg-hover: var(--fill-secondary-default);
  --category-tag-cl-bg-pressed: var(--fill-totalWhite);
  --category-tag-cl-icon: var(--icon-secondary-default);
  --category-tag-cl-icon-hover: var(--icon-primary);
  --category-tag-cl-icon-pressed: var(--icon-inverse);
  --category-tag-cl-text: var(--text-secondary-default);
  --category-tag-cl-text-hover: var(--text-primary);
  --category-tag-cl-text-pressed: var(--text-inverse);
  --category-tag-icon-gap: 12px;
  --category-tag-info-bg: var(--fill-accent);
  --category-tag-info-color: var(--text-primary);
  --category-tag-info-color-exp: var(--color-base);
  --category-tag-info-gap: 8px;
  --category-tag-info-padding: 1px 4px;
  --category-tag-padding: 7px 12px;
  --category-tag-page-icon-gap: 12px;
  --category-tag-page-padding: 6px 12px;

  --checkbox-18-br: 4px;
  --checkbox-18-gap: 8px;
  --checkbox-18-height: 18px;
  --checkbox-18-width: 18px;
  --checkbox-background-transition: background-color 0.15s linear;
  --checkbox-color-checked: var(--fill-accent);
  --checkbox-color-checked-hover: var(--fill-accent-hover);
  --checkbox-color-disabled: var(--fill-accent-disabled);
  --checkbox-color-unchecked: var(--fill-accent-nonactive);
  --checkbox-color-unchecked-hover: var(--fill-accent-nonactive-hover);
  --checkbox-label-color: var(--text-secondary-default);
  --checkbox-tick-color-checked: var(--icon-primary);
  --checkbox-tick-color-checked-hover: var(--icon-primary);
  --checkbox-tick-color-disabled: var(--icon-primary-disabled);

  --float-button-background: var(--fill-secondary-default);
  --float-button-background-hover: var(--fill-secondary-hover);
  --float-button-background-pressed: var(--fill-secondary-hover);
  --float-button-icon-color: var(--icon-primary);
  --float-button-shadow: 0 1px 12px 0 rgba(14, 21, 47, 0.12),
    0 3px 5px 0 rgba(14, 21, 47, 0.1);

  --game-tag-cl-bg: var(--fill-secondary-default);
  --game-tag-cl-bg-hover: var(--fill-secondary-hover);
  --game-tag-cl-bg-pressed: var(--fill-totalWhite);
  --game-tag-cl-text: var(--text-secondary-strong-default);
  --game-tag-cl-text-hover: var(--text-primary);
  --game-tag-cl-text-pressed: var(--text-inverse);
  --game-tag-height: 30px;
  --game-tag-padding: 6px 10px;

  --gc-input-token-cl-icon-hover: var(--icon-primary);
  --gc-input-token-cl-icon-selected: var(--icon-primary);
  --gc-input-token-cl-placeholder-hover: var(--text-primary);
  --gc-input-token-cl-placeholder-selected: var(--text-primary);

  --link-cl-accent: var(--text-accent);
  --link-cl-accent-hover: var(--text-accent-hover);
  --link-cl-inverse: var(--text-inverse);
  --link-cl-inverse-hover: var(--text-secondary-default);
  --link-cl-primary: var(--text-primary);
  --link-cl-primary-hover: var(--text-accent-hover);
  --link-cl-secondary: var(--text-secondary-default);
  --link-cl-secondary-hover: var(--text-accent-hover);

  --spin-default-border-color: #14e517;
  --spin-filled-bg-color: #00000020;
  --spin-filled-border-color: #fff;

  --tag-cl-bg: var(--fill-secondary-default);
  --tag-cl-bg-hover: var(--fill-secondary-hover);
  --tag-cl-bg-pressed: var(--fill-totalWhite);
  --tag-cl-text: var(--text-secondary-strong-default);
  --tag-cl-text-hover: var(--text-primary);
  --tag-cl-text-pressed: var(--text-inverse);
  --tag-gap: 4px;
  --tag-height-list: 24px;
  --tag-height-page: 28px;
  --tag-padding-list: 4px 8px;
  --tag-padding-page: 6px 10px;

  --tumbler-22-height: 22px;
  --tumbler-22-spacing-horizontal: 2px;
  --tumbler-22-spacing-vertical: 2px;
  --tumbler-22-toggle-height: 18px;
  --tumbler-22-toggle-width: 18px;
  --tumbler-22-width: 40px;
  --tumbler-active-bg: var(--fill-accent);
  --tumbler-active-fg: var(--fill-totalWhite);
  --tumbler-active-hover-bg: var(--fill-accent-hover);
  --tumbler-active-hover-fg: var(--fill-totalWhite);
  --tumbler-bg: var(--fill-accent-nonactive);
  --tumbler-disabled-bg: var(--fill-accent-nonactive);
  --tumbler-disabled-fg: var(--fill-totalWhite-disabled);
  --tumbler-fg: var(--fill-totalWhite);
  --tumbler-hover-bg: var(--fill-accent-nonactive-hover);
  --tumbler-hover-fg: var(--fill-totalWhite);
  --option-bg: var(--fill-secondary-default);
  --option-bg-hover: var(--fill-secondary-hover);
  --option-bg-selected: var(--white-250)}