:root[data-uikit-theme="playhop"] {
  --black-100: #8a8a8a;
  --black-1000: #000;
  --black-150: #828282;
  --black-200: #7a7a7a;
  --black-250: #737373;
  --black-300: #6b6b6b;
  --black-350: #636363;
  --black-400: #5c5c5c;
  --black-450: #545454;
  --black-50: #919191;
  --black-500: #4d4d4d;
  --black-550: #454545;
  --black-600: #3d3d3d;
  --black-650: #363636;
  --black-700: #2e2e2e;
  --black-750: #262626;
  --black-800: #202020;
  --black-850: #171717;
  --black-900: #0f0f0f;
  --black-950: #080808;

  --blue-100: #f0faff;
  --blue-1000: #0a234a;
  --blue-150: #d5f1ff;
  --blue-200: #bbe7ff;
  --blue-250: #a0dcff;
  --blue-300: #85d1ff;
  --blue-350: #6bc5ff;
  --blue-400: #50b8ff;
  --blue-450: #35abff;
  --blue-500: #1b9dff;
  --blue-550: #008eff;
  --blue-600: #0480eb;
  --blue-650: #0673d7;
  --blue-700: #0966c3;
  --blue-750: #0a5aaf;
  --blue-800: #0c4e9a;
  --blue-850: #0c4386;
  --blue-900: #0c3872;
  --blue-950: #0b2d5e;

  --blue-grey-100: #f1f3f5;
  --blue-grey-1000: #2d2c33;
  --blue-grey-150: #e3e7ec;
  --blue-grey-200: #d4dbe3;
  --blue-grey-250: #c7d0da;
  --blue-grey-300: #bac4d1;
  --blue-grey-350: #adb9c7;
  --blue-grey-400: #a0aebe;
  --blue-grey-450: #95a3b5;
  --blue-grey-500: #8998ac;
  --blue-grey-550: #7e8ea3;
  --blue-grey-600: #768297;
  --blue-grey-650: #6d768a;
  --blue-grey-700: #656b7e;
  --blue-grey-750: #5c6071;
  --blue-grey-800: #535565;
  --blue-grey-850: #4a4a58;
  --blue-grey-900: #40404c;
  --blue-grey-950: #37363f;

  --green-100: #edfff1;
  --green-1000: #004d1c;
  --green-150: #caf5d5;
  --green-200: #aaebbb;
  --green-250: #8ce1a3;
  --green-300: #6fd78d;
  --green-350: #55cd79;
  --green-400: #3dc467;
  --green-450: #26ba57;
  --green-500: #12b049;
  --green-550: #00a63c;
  --green-600: #009c39;
  --green-650: #009235;
  --green-700: #008831;
  --green-750: #007e2e;
  --green-800: #00742a;
  --green-850: #006a27;
  --green-900: #006023;
  --green-950: #00571f;

  --green-extra-100: #e5ffe6;
  --green-extra-1000: #0d8c11;
  --green-extra-150: #ccffcd;
  --green-extra-200: #b2ffb3;
  --green-extra-250: #99ff9a;
  --green-extra-300: #80ff81;
  --green-extra-350: #66ff68;
  --green-extra-400: #4dff4f;
  --green-extra-450: #33ff36;
  --green-extra-500: #00ff03;
  --green-extra-550: #10ff13;
  --green-extra-600: #16f21e;
  --green-extra-650: #15e51c;
  --green-extra-700: #13d91a;
  --green-extra-750: #12cc18;
  --green-extra-800: #11bf17;
  --green-extra-850: #10b215;
  --green-extra-900: #0fa614;
  --green-extra-950: #0e9912;

  --orange-100: #fefae7;
  --orange-1000: #52270a;
  --orange-150: #fef3cd;
  --orange-200: #feebb4;
  --orange-250: #fedf9a;
  --orange-3000: #fed281;
  --orange-350: #ffc267;
  --orange-400: #ffb04d;
  --orange-450: #ff9b33;
  --orange-500: #ff841a;
  --orange-550: #ff6b00;
  --orange-600: #ec6403;
  --orange-650: #d95d06;
  --orange-700: #c55608;
  --orange-750: #b24f0a;
  --orange-800: #9f480b;
  --orange-850: #8c400b;
  --orange-900: #78380b;
  --orange-950: #652f0b;

  --pink-100: #f8e5ed;
  --pink-1000: #7c1d4e;
  --pink-150: #f9c9de;
  --pink-200: #faadce;
  --pink-250: #fb91c0;
  --pink-300: #fb74b1;
  --pink-350: #fc57a3;
  --pink-400: #fd3a95;
  --pink-450: #fe1d87;
  --pink-500: #ff007a;
  --pink-550: #f20678;
  --pink-600: #e50b75;
  --pink-650: #d80f71;
  --pink-700: #cb136e;
  --pink-750: #be1669;
  --pink-800: #b01965;
  --pink-850: #a31b60;
  --pink-900: #961c5a;
  --pink-950: #891d54;

  --purple-100: #faf2ff;
  --purple-1000: #130f4d;
  --purple-150: #efd7ff;
  --purple-200: #e4bcff;
  --purple-250: #d7a1ff;
  --purple-300: #cb86ff;
  --purple-350: #bd6cff;
  --purple-400: #af51ff;
  --purple-450: #a036ff;
  --purple-500: #901bff;
  --purple-550: #8000ff;
  --purple-600: #6d05eb;
  --purple-650: #5d09d7;
  --purple-700: #4e0dc4;
  --purple-750: #410fb0;
  --purple-800: #35119c;
  --purple-850: #2b1288;
  --purple-900: #221275;
  --purple-950: #1a1161;

  --red-100: #fff5f2;
  --red-1000: #410000;
  --red-150: #ffe0d7;
  --red-200: #ffc9bc;
  --red-250: #ffb2a1;
  --red-300: #ff9986;
  --red-350: #ff806c;
  --red-400: #ff6551;
  --red-450: #ff4936;
  --red-500: #ff2d1b;
  --red-550: #ff0f00;
  --red-600: #ea0c00;
  --red-650: #d50a00;
  --red-700: #c00800;
  --red-750: #ab0600;
  --red-800: #960500;
  --red-850: #800300;
  --red-900: #6b0200;
  --red-950: #560100;

  --white-100: #757575;
  --white-1000: #fff;
  --white-150: #7d7d7d;
  --white-200: #858585;
  --white-250: #8c8c8c;
  --white-300: #949494;
  --white-350: #9c9c9c;
  --white-400: #a3a3a3;
  --white-450: #ababab;
  --white-50: #6e6e6e;
  --white-500: #b3b3b3;
  --white-550: #bababa;
  --white-600: #c2c2c2;
  --white-650: #c9c9c9;
  --white-700: #d1d1d1;
  --white-750: #d9d9d9;
  --white-800: #e0e0e0;
  --white-850: #e8e8e8;
  --white-900: #f0f0f0;
  --white-950: #f7f7f7;

  --yellow-100: #feffd9;
  --yellow-1000: #733600;
  --yellow-150: #ffffc1;
  --yellow-200: #fffea9;
  --yellow-250: #fffb91;
  --yellow-300: #fff779;
  --yellow-350: #fff260;
  --yellow-400: #ffec48;
  --yellow-450: #ffe530;
  --yellow-500: #ffdd18;
  --yellow-550: #ffd400;
  --yellow-600: #efbd00;
  --yellow-650: #e0a800;
  --yellow-700: #d09400;
  --yellow-750: #c18100;
  --yellow-800: #b17000;
  --yellow-850: #a25f00;
  --yellow-900: #925000;
  --yellow-950: #834300;

  --yellow-extra-100: #f4fee4;
  --yellow-extra-1000: #588c0d;
  --yellow-extra-150: #ebfecb;
  --yellow-extra-200: #e1feb2;
  --yellow-extra-250: #d8ff99;
  --yellow-extra-300: #ceff7f;
  --yellow-extra-350: #c5ff66;
  --yellow-extra-400: #bcff4d;
  --yellow-extra-450: #b2ff34;
  --yellow-extra-500: #a9ff1a;
  --yellow-extra-550: #a0ff01;
  --yellow-extra-600: #a4f038;
  --yellow-extra-650: #9ae431;
  --yellow-extra-700: #90d72b;
  --yellow-extra-750: #86cb25;
  --yellow-extra-800: #7dbe1f;
  --yellow-extra-850: #73b11a;
  --yellow-extra-900: #6aa515;
  --yellow-extra-950: #619911;
}
