:root {
  --button-border-radius-24: 4px;
  --button-border-radius-32: 6px;
  --button-border-radius-40: 8px;
  --button-cl-bg-empty: transparent;
  --button-cl-bg-empty-disabled: transparent;
  --button-cl-bg-empty-hover: transparent;
  --button-cl-bg-primary: var(--fill-accent);
  --button-cl-bg-primary-disabled: var(--fill-accent-disabled);
  --button-cl-bg-primary-hover: var(--fill-accent-hover);
  --button-cl-bg-secondary: var(--fill-secondary-default);
  --button-cl-bg-secondary-disabled: var(--fill-secondary-disabled);
  --button-cl-bg-secondary-hover: var(--fill-secondary-hover);
  --button-cl-icon-empty: var(--icon-accent);
  --button-cl-icon-empty-disabled: var(--icon-accent-disabled);
  --button-cl-icon-empty-hover: var(--icon-accent-hover);
  --button-cl-icon-primary: var(--icon-inverse);
  --button-cl-icon-primary-disabled: var(--icon-inverse-disabled);
  --button-cl-icon-primary-hover: var(--icon-inverse);
  --button-cl-icon-secondary: var(--icon-primary);
  --button-cl-icon-secondary-disabled: var(--icon-primary-disabled);
  --button-cl-icon-secondary-hover: var(--icon-primary);
  --button-cl-text-empty: var(--text-accent);
  --button-cl-text-empty-disabled: var(--text-accent-disabled);
  --button-cl-text-empty-hover: var(--text-accent-hover);
  --button-cl-text-primary: var(--text-inverse);
  --button-cl-text-primary-disabled: var(--text-inverse-disabled);
  --button-cl-text-primary-hover: var(--text-inverse);
  --button-cl-text-secondary: var(--text-primary);
  --button-cl-text-secondary-disabled: var(--text-disabled);
  --button-cl-text-secondary-hover: var(--text-primary);
  --button-gap-24: 4px;
  --button-gap-32: 8px;
  --button-gap-40: 8px;
  --button-height-24: 24px;
  --button-height-32: 32px;
  --button-height-40: 40px;
  --button-padding-24-icon: 6px;
  --button-padding-24-text: 0 8px;
  --button-padding-32-icon: 8px;
  --button-padding-32-text: 0 12px;
  --button-padding-40-icon: 12px;
  --button-padding-40-text: 0 16px;
  --button-press-transition: transform 0.1s ease, background 0.15s ease;
}
